.c-card{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.c-card img{
    width: 250px;
    max-width: 100%;
}

.no-type .c-card{
    color: blue;
    background-color: gray;
}

.action-type .c-card{
    color: red;
    background-color: yellow;
}

.thriller-type .c-card{
    color: green;
    background-color: magenta;
}
.errTxt{
    color: red;
    font-weight: bold;
}